* {
    bg-primary:   #0F0F0D;
    bg-secondary: #262B23;
    bg-selected:  #9B945E;
    bg-element:   #141A10;
    bg-message:   #141A10;
    fg-primary:   #ECE8DD;
    fg-muted:     #DAD3B9;
    fg-message:   #DAD3B9;
    border-radius-window: 20px;
    border-radius-main:   15px;
    border-radius-input:  7px;
    border-radius-list:   10px;
    border-radius-elem:   4px;
}
