@define-color bg_primary #11111b;
@define-color bg_secondary #181825;
@define-color bg_overlay #1e1e2e;

@define-color fg_primary #cdd6f4;
@define-color fg_secondary #bac2de;
@define-color fg_bright #cdd6f4;

@define-color accent_primary #f38ba8;
@define-color accent_secondary #a6e3a1;
@define-color accent_soft #cba6f7;

@define-color success_color #a6e3a1;
@define-color error_color #f38ba8;
@define-color warning_color #fab387;

@define-color border_active_primary #cba6f7;
@define-color border_active_secondary #a6e3a1;
@define-color border_inactive #7f849c;

@define-color shadow_color #1e1e2e;
