* {
    bg-primary:   #0A0A0A;
    bg-secondary: #151515;
    bg-selected:  #ABABAB;
    bg-element:   #111111;
    bg-message:   #111111;
    fg-primary:   #F2F2F2;
    fg-muted:     #D9D9D9;
    fg-message:   #F2F2F2;
    border-radius-window: 20px;
    border-radius-main:   15px;
    border-radius-input:  7px;
    border-radius-list:   10px;
    border-radius-elem:   4px;
}
