@import url("/home/aether/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "GeistMono Nerd Font";
    /* max-height: 35px; */
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    border-radius: 6px;
    margin-right: 8px;
    margin-top: 0px;
    /* background-color: #2b3339; */
    background-color: @background;
}

#workspaces button {
    background: transparent;
    padding: 5px;
    font-size: 18px;
    color: @foreground;
}

#workspaces button:hover {
    background: @color8;
    border-radius: 4px;
}

#workspaces button.active {
  color: @color6;
}

#window {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 6px;
    transition: none;
    color: @foreground;
    background: @background;
}

#keyboard-state {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 6px;
    transition: none;
    color: @foreground;
    background: @background;
}

#custom-pacman {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @foreground;
    background: @background;
}

/* #custom-mail { */
/*     margin-right: 8px; */
/*     padding-right: 16px; */
/*     border-radius: 0px 10px 10px 0px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @foreground;
    background: @background;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @foreground;
    background: @background;
}

#pulseaudio.muted {
    background-color: @color4;
    color: @foreground;
}

#network {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @foreground;
    background: @background;
}

/* #custom-notification { */
/*     margin-right: 8px; */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     border-radius: 6px; */
/*     transition: none; */
/*     color: #d3c6aa; */
/*     background: #2b3339; */
/* } */

#custom-dndtoggle {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @foreground;
    background: @background;
}

#custom-dunst_dnd.dnd-on {
  /* background-color: @color4; */
  background-color: #2b3339;
}

#custom-dunst_dnd.dnd-off {
  background-color: @background;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @foreground;
    background: @background;
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @foreground;
    background: @background;
}

#battery.charging {
    color: @color1;
    background-color: #a7c080;
}

#battery.warning:not(.charging) {
    background-color: #dbbc7f;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #e67e80;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: #ffffff;
    background: @background;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
