@import url("/home/aether/.config/themes/current/colors.css");

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "GeistMono Nerd Font";
    /* max-height: 35px; */
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    border-radius: 6px;
    margin-right: 8px;
    margin-top: 0px;
    /* background-color: #2b3339; */
    background-color: @bg_primary;
}

#workspaces button {
    background: transparent;
    padding: 5px;
    font-size: 18px;
    color: @fg_primary;
}

#workspaces button:hover {
    background: @fg_secondary;
    border-radius: 4px;
}

#workspaces button.active {
  color: @accent_secondary;
}

#window {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 6px;
    transition: none;
    color: @fg_primary;
    background: @bg_primary;
}

#keyboard-state {
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 8px;
    border-radius: 6px;
    transition: none;
    color: @fg_primary;
    background: @bg_primary;
}

#custom-pacman {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @fg_primary;
    background: @bg_primary;
}

/* #custom-mail { */
/*     margin-right: 8px; */
/*     padding-right: 16px; */
/*     border-radius: 0px 10px 10px 0px; */
/*     transition: none; */
/*     color: #ffffff; */
/*     background: #383c4a; */
/* } */

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @fg_primary;
    background: @bg_primary;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @fg_primary;
    background: @bg_primary;
}

#pulseaudio.muted {
    background-color: @accent_primary;
    color: @fg_primary;
}

#network {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @fg_primary;
    background: @bg_primary;
}

/* #custom-notification { */
/*     margin-right: 8px; */
/*     padding-left: 16px; */
/*     padding-right: 16px; */
/*     border-radius: 6px; */
/*     transition: none; */
/*     color: #d3c6aa; */
/*     background: #2b3339; */
/* } */

#custom-dndtoggle {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @fg_primary;
    background: @bg_primary;
}

#custom-dunst_dnd.dnd-on {
  /* background-color: @color4; */
  background-color: @bg_primary;
}

#custom-dunst_dnd.dnd-off {
  background-color: @bg_primaru;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @fg_primary;
    background: @bg_primary;
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: @fg_primary;
    background: @bg_primary;
}

#battery.charging {
    color: @bg_primary;
    background-color: @accent_soft;
}

#battery.warning:not(.charging) {
    background-color: @warning_color;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: @error_color;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    transition: none;
    color: #ffffff;
    background: @bg_primary;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
