* {
    bg-primary:   #181412;
    bg-secondary: #382C30;
    bg-selected:  #A57C5E;
    bg-element:   #1E1613;
    bg-message:   #1E1613;
    fg-primary:   #DDDEE8;
    fg-muted:     #DFCECC;
    fg-message:   #DFCECC;
    border-radius-window: 20px;
    border-radius-main:   15px;
    border-radius-input:  7px;
    border-radius-list:   10px;
    border-radius-elem:   4px;
}
