@define-color bg_primary #2e3440;
@define-color bg_secondary #3b4252;
@define-color bg_overlay #434c5e;

@define-color fg_primary #d8dee9;
@define-color fg_secondary #8195b7;
@define-color fg_bright #eceff4;

@define-color accent_primary #5e81ac;
@define-color accent_secondary #b48ead;
@define-color accent_soft #d08770;

@define-color success_color #a3be8c;
@define-color error_color #bf616a;
@define-color warning_color #ebcb8b;

@define-color border_active_primary #88c0d0;
@define-color border_active_secondary #81a1c1;
@define-color border_inactive #8fbcbb;

@define-color shadow_color #4c566a;
